@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

* {
  box-sizing: border-box;
}

.item-container {
  background-image: none;
  background-color: $light-gray;
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;

  .right-section {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }

  .left-section {
    display: flex;
    flex-direction: column;
  }
  .rows {
    display: flex;
    width: 100%;
    // flex-direction: rows;
    justify-content: space-between;

    .edit-item-modal-container {
      width: 100%;
      justify-content: space-between;
      justify-items: space-between;

      .edit {
        float: right;
      }
    }
  }

  button {
    width: 100%;
    font-family: $font-family;
    border-radius: 20px;
    font-weight: 400;
    background-color: $blue;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    height: 30px;
    border: none;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }

  button:hover {
    background-color: $dark-gray;
  }

  #like-button {
    z-index: 1;
    margin: 10px;
  }

  .item-section {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .description-section {
      color: $navy;

      h1 {
        color: $navy;
        text-transform: uppercase;
      }
    }

    .selected-image img {
      width: 38vw;
      height: 60vh;
      object-fit: cover;
    }

    .multi-image-container {
      flex-direction: row;
      padding: 0px;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-start;

      .thumbnail {
        height: 150px;
        margin-right: 5px;
      }
    }
    img {
      box-shadow: 2px 2px 3px rgba(82, 82, 82, 0.048);
      border: 0.15px $light-gray solid;
    }
  }
}

@media only screen and (max-width: 768px) {
  .item-container {
    background-image: none;
    background-color: $light-gray;
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
  }
  .item-section {
    .multi-image-container {
      flex-direction: row;
      padding: 0px;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-start;

      .thumbnail {
        height: 50px;
        margin-right: 5px;
      }
    }
  }
}
// @media only screen and (max-width: 900px) {
//   .item-container {
//     display: flex;
//     flex-direction: column;

//     .image-container img {
//       width: 20vw;
//       height: 10vh;
//       max-height: 400px;
//       object-fit: cover;
//       flex-direction: column;
//     }
//     .multi-image-container {
//       display: flex;
//       flex-direction: column;
//       margin-left: 30px;

//       img {
//         width: 8vw;
//         height: 12vh;
//         object-fit: cover;
//         margin-bottom: 20px;
//       }
//     }
//   }
// }
