@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.item-container {
  background-image: none;
  background-color: $light-gray;

  display: flex;
  flex-direction: column;

  .item-section {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 60px;
    justify-content: flex-start;

    .description-section {
      color: $navy;
      margin-left: 40px;
      width: 24vw;
    }

    .selected-image img {
      width: 30vw;
      height: 50vh;
      object-fit: cover;
    }

    .multi-image-container {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      margin-top: 0px;

      img {
        width: 8vw;
        height: 12vh;
        object-fit: cover;
        margin-bottom: 20px;
      }

      .thumbnail {
        width: 10vw;
        height: 15vh;
      }
    }
    img {
      box-shadow: 2px 2px 3px rgba(82, 82, 82, 0.048);
      border: 0.15px $light-gray solid;
    }
  }
}

@media only screen and (max-width: 900px) {
  .item-container {
    display: flex;
    flex-direction: column;

    .image-container img {
      width: 20vw;
      height: 10vh;
      max-height: 400px;
      object-fit: cover;
      flex-direction: column;
    }
    .multi-image-container {
      display: flex;
      flex-direction: column;
      margin-left: 30px;

      img {
        width: 8vw;
        height: 12vh;
        object-fit: cover;
        margin-bottom: 20px;
      }
    }
  }
}
