{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "semi": 0,
    "import/no-named-as-default": false,
    "import/no-named-as-default-member": false,
    "react/jsx-filename-extension": false,
    "arrow-parens": 0,
    "no-console": 0
  }
}
