@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #858585;

.notifications-container {
  margin: 30px 0px;
}

@media only screen and (max-width: 768px) {
  .notifications-container {
    margin: 70px 0px;
  }
}
