$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #858585;

* {
  box-sizing: border-box;
}

.item-card-container {
  display: flex;

  flex-direction: column;
  line-height: 18px;
  background: $navy;
  margin: 2vw;
  // max-width: 350px;
  width: 30vw;
  height: 640px;

  .timestamp-text {
    display: none;
  }

  .item-description {
    padding: 20px;

    // height: 300px;
    padding-top: 0px;
  }

  img {
    width: 30vw;
    object-fit: cover;
    height: 480px;
    // width: 18vw;

    margin-bottom: 5px;
    // max-width: 350px;
  }

  h1 {
    font-family: $font-family;
    color: white;
    text-transform: uppercase;
  }

  h1 span {
    // text-transform: none;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.5px;
  }

  p {
    color: white;
  }

  .like-button-section {
    position: absolute;
  }
  #like-button {
    z-index: 1;
    margin: 10px;
    position: absolute;
  }
}

@media only screen and (max-width: 980px) {
  .item-card-container {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    background: $navy;
    margin: 0 auto;
    width: 60vw;
    height: 640px;
  }
}
