@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.likes-container {
  border: 1px $dark-gray solid;
  width: 88%;
  margin: 40px auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: space-around;
}
