@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

* {
  box-sizing: border-box;
}

.notification-card-container {
  display: flex;
  flex-direction: row;
  font-family: $font-family;
  padding: 20px;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  color: $dark-gray;
  button {
    background: none;
    border: none;
  }

  .username {
    text-transform: uppercase;
    color: $blue;
  }

  .remove {
    color: $blue;
  }
}
