@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.dash-container {
  background-color: $light-gray;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
  .dash-container {
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
}
