@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #858585;

.downshift-dropdown {
  font-family: $font-family;
  background: white;
  z-index: 300;
  margin-left: 40px;
}

.downshift-dropdown:focus {
  outline: none;
  font-family: $font-family;
}

input {
  font-family: $font-family;
}

.downshift-0-input {
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  box-shadow: none;
  color: $dark-gray;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  z-index: 100;
  color: $navy;
}

.dropdown-item {
  font-weight: 400;
  // margin: 5px;
}

.dropdown-item:hover {
  font-weight: bold;
  color: $blue;
  background: $dark-gray;
}
