@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #858585;

.downshift-dropdown {
  font-family: $font-family;
  background: white;
  margin-top: 0px;
  z-index: 300;
}

.downshift-dropdown:focus {
  outline: none;
  font-family: $font-family;
}

input {
  font-family: $font-family;
}

.downshift-0-input {
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  box-shadow: none;
  color: $dark-gray;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $font-family;
  z-index: 100;
  color: $navy;
}

.dropdown-item a {
  font-weight: 400;
  color: $blue;
  // margin: 5px;
}
.dropdown-item a:hover {
  font-weight: 400;
  color: white;
  // margin: 5px;
}

.dropdown-item:hover {
  font-weight: bold;
  // color: $blue;
  color: white;
  background: $dark-gray;
}

@media only screen and (max-width: 568px) {
  .downshift-dropdown {
    font-family: $font-family;
    background: white;
    margin-top: 0px;
    z-index: 1200;
  }

  .downshift-dropdown:focus {
    outline: none;
    font-family: $font-family;
    z-index: 1200;
  }

  input {
    font-family: $font-family;
    z-index: 1200;
  }

  // .downshift-0-input {
  //   outline: none;
  //   box-shadow: none;
  //   color: red;
  // }
  .dropdown-item {
    font-family: $font-family;
    background: white;
    margin-top: 0px;
  }
  input::placeholder {
    color: white;
  }
}
