.dash-container {
  background-color: $light-gray;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  &__header {
    width: 100%;
    font-family: $font-family;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: row;
  }

  &__photo-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__photo {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__item-card {
    width: 33%;
    padding: 0.25rem;
    &--image {
      width: 100%;
      height: 220px;
      object-fit: cover;

      img {
        height: 100%;
        width: 100%;
      }

      img:hover {
        background-color: $navy;
      }
    }

    &--hover:hover {
      mix-blend-mode: luminosity;
      background-color: $navy;
      background-image: inherit;
    }
  }
}

.item-description {
  background: $navy;
  padding: 0 1rem;
  box-sizing: border-box;
  border: none;
  height: 120px;
  font-weight: 300;
  display: flex;
  color: #ffffff;
  align-items: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    padding: 0.75rem;
  }
}

.dash-space-around {
  line-height: 0;
  justify-items: center;
  margin: 0 auto;
  width: 72vw;
}

.like {
  position: absolute;
  margin: 0.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: $blue;
  width: 22vw;
  text-align: center;
  padding: 3rem 0;

  &__nav {
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin: 10rem 0;
    justify-content: space-between;
  }

  &__logo {
    width: 20vw;
  }
}

.nav-container {
  height: 5vh;
  border-bottom: 1px solid #858585;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 72vw;

  &__searchbar {
    align-content: center;
  }

  &__search-input input {
    font-size: 0.75rem;
    display: flex;
    background: none;
    outline: none;
    border-bottom: 1px solid $dark-gray;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
    width: 220px;
    height: 2rem;
    outline: none;
    box-shadow: transparent;
    outline-color: transparent;
    border-style: none;
  }
  &__search-input input:hover {
    cursor: pointer;
  }

  .downshift-dropdown {
    padding: 0.5rem;
  }
  .dropdown-item a {
    color: $dark-gray;
    margin: 0.25rem;
    line-height: 1.5rem;
    font-size: 0.75rem;

    &:hover {
      color: $blue;
    }
  }
}
