.heading-secondary {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.15rem;
  text-transform: uppercase;
  color: #ffffff;
  h1 {
    text-shadow: 2px 2px 3px rgba(82, 82, 82, 0.48);
  }

  &__desc {
    font-size: 0.65rem;
    color: #ffffff;
    line-height: 0.9rem;
    letter-spacing: 0.025rem;
    &--timestamp {
      color: $blue;
      font-size: 0.5rem;
      line-height: 1.75rem;
    }
  }
}

.primary-link {
  color: $dark-gray;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 400;
  margin-top: 22px;
  padding-left: 22px;

  &:hover {
    font-family: $font-family;
    font-size: 12px;
    font-weight: 400;
    margin-top: 22px;
    color: $blue;
  }
}
