$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;
$padding: 30px;
$margin: 0 auto;
$text_padding: 20px;

.margin {
  margin: 0 auto;
}

.padding {
  padding: 20px;
}

.btn {
  background: $blue;
  font-family: $font-family;
  border: 2px solid white;
  padding: 8px 0px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 8%;
  min-width: 130px;
}

.logo {
  width: 80%;
}

.sidebar {
  display: flex;
  width: 30%;
  flex-direction: column;
  background: $blue;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: $padding;

  &__main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__modal-buttons {
    display: flex;
    flex-direction: column;
  }
  a {
    color: white;
    padding: $text_padding;
  }
}

a {
  font-family: $font-family;
}

p {
  font-family: $font-family;
}
