@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

* {
  box-sizing: border-box;
}

.profile-container {
  background-color: $light-gray;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  .profile-header {
    height: 8vh;
    font-family: $font-family;
    width: 72vw;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    // background: $navy;

    flex-direction: row;

    button {
      border: none;
      background: none;
      justify-items: flex-end;
      float: right;
      right: 0;
    }

    .left {
      display: flex;
      flex-direction: row;
      width: 30vw;
      align-items: center;
      font-size: 16px;
      letter-spacing: 1px;
      color: $blue;
      text-transform: uppercase;
    }

    .right {
      width: 100%;
    }

    .profile-photo img {
      object-fit: cover;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
    }

    #follow-button button {
      justify-content: flex-end;
      float: right;
    }
  }
}

// img {
//   width: 30vw;
//   object-fit: cover;
//   height: 480px;
//   max-width: 400px;

//   margin-bottom: 5px;
//   // max-width: 350px;
// }
