@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

* {
  box-sizing: border-box;
}

.profile-container {
  background-color: $light-gray;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: flex-start;
  width: 72vw;

  .profile-header {
    height: 8vh;
    font-family: $font-family;
    width: 72vw;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;

    .profile-pic-button {
      color: white;
      background: $blue;
      width: 125px;
      border-radius: 25px;
      height: 20px;
      font-family: $font-family;
      font-weight: 500;
      margin-top: 10px;
      letter-spacing: 1px;
      font-size: 10px;
    }

    .profile-pic-button:hover {
      color: $blue;
      background: $light-gray;
      border: 2px solid $blue;
      width: 125px;
      border-radius: 25px;
      font-family: $font-family;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 10px;
    }

    button {
      border: none;
      background: none;
      float: right;
    }

    input::placeholder {
      color: white;
    }

    input:focus {
      color: white;
    }

    .left {
      display: flex;
      flex-direction: row;
      width: 30vw;
      align-items: center;
      font-size: 14px;
      letter-spacing: 1px;
      color: $blue;
      text-transform: uppercase;
    }

    button {
      font-family: $font-family;
      font-weight: 300;
    }

    .right {
      width: 100%;
    }

    .profile-photo img {
      object-fit: cover;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
    }

    #follow-button button {
      justify-content: flex-end;
      float: right;
    }
    #downshift-0-input {
      color: white;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .profile-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: flex-start;
    width: 95%;
    margin: 0 auto;
    .profile-header {
      height: 8vh;
      font-family: $font-family;
      width: 68vw;
      padding: 0;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;

      h1 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin: 30px auto;
    margin-top: 60px;
    // font-size: 12px;

    .profile-header {
      height: 8vh;
      font-family: $font-family;
      width: 90vw;
      padding: 0;
      display: flex;
      margin: 0 auto;
      // align-items: center;
      margin-top: 45px;
      margin-bottom: 15px;
      flex-direction: row;

      .profile-photo img {
        margin-right: 2px;
      }

      .profile-pic-button {
        float: left;
        margin-top: 0px;
        font-size: 8px;
      }
      h1 {
        margin-left: 0px;
        font-size: 18px;
      }
    }
  }
}
// img {
//   width: 30vw;
//   object-fit: cover;
//   height: 480px;
//   max-width: 400px;

//   margin-bottom: 5px;
//   // max-width: 350px;
// }
