@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.dash-container {
  background-image: none;
  background-color: $light-gray;
  width: 100vw;
  display: flex;
}
