@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.desktop-sidebar {
  width: 100%;
  width: 22vw;
  display: flex;
  background-color: $blue;
  flex-direction: column;
  align-content: center;
  height: 100%;
  max-width: 600px;
  min-width: 280px;

  img {
    width: 15vh;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .sb-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-family;
    text-decoration: none;
    color: white;
    height: 35vh;
    width: 100%;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 18px;
    margin: 0 auto;
  }

  a:hover {
    // transform: skew(-12deg);
    color: $navy;
    opacity: 0.2;
    transition: 0.25s ease-in;
  }
}

.Navbar__Link .Navbar__Link-toggle {
  display: none;
  .mobile-button button {
    display: none;
  }
  button {
    display: none;
  }
}
.Navbar__Link-toggle {
  display: none;
}

.add-item-button {
  font-family: $font-family;
  background: $blue;
  border: 3px solid white;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0 auto;
  position: absolute;
  margin: 0 auto;
  bottom: 26%;
  width: 10%;
  min-width: 130px;
}
.add-offer-button {
  font-family: $font-family;
  border: 3px solid white;
  padding: 8px 26px;
  background: $blue;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0 auto;
  position: absolute;
  margin: 0 auto;
  margin-top: 30px;
  bottom: 21%;
  width: 10%;
  min-width: 130px;
}

.modal-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: $font-family;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Link-toggle {
    display: block;
  }
  .mobile-menu {
    display: block;
  }

  .Navbar__Link .Navbar__Link-toggle {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
  }

  .Navbar_Items {
    background: $blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $blue;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .Navbar_Link {
    font-family: $font-family;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 30px;
  }

  a {
    padding: 50px;
    margin-top: 20px;
  }

  .mobile-nav-section {
    height: 40vh;
    margin-top: 60%;
  }

  .desktop-sidebar {
    display: none;
  }

  #main-nav {
    display: none;
  }
  .modal-button {
    font-family: $font-family;
    border: none;
    background-color: white;
    padding: 8px 26px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    color: $blue;
    margin: 0 auto;
    font-weight: 400;
  }
  .modal-container {
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 20%;
    left: 20%;
    justify-content: center;
    font-family: $font-family;
  }
}
