@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500, 700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.desktop-sidebar {
  display: flex;
  background-color: $blue;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  min-width: 300px;

  img {
    width: 25vh;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
  }

  nav {
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    text-decoration: none;
    color: white;
    align-content: center;
    margin-top: 12vh;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    font-size: 18px;
    margin: 0 auto;
    letter-spacing: 1px;
    font-weight: 500;
  }

  a:hover {
    // transform: skew(-12deg);
    color: $navy;
    opacity: 0.2;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.25s ease-in;
  }
}

.Navbar__Link .Navbar__Link-toggle {
  display: none;
  .mobile-button button {
    display: none;
  }
  button {
    display: none;
  }
}
.Navbar__Link-toggle {
  display: none;
}

.add-item-button {
  font-family: $font-family;
  background: $blue;
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0 auto;
  position: absolute;
  bottom: 165px;
  width: 10%;
  min-width: 130px;
}
.add-offer-button {
  font-family: $font-family;
  border: 2px solid white;
  padding: 8px 16px;
  background: $blue;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 0 auto;
  position: absolute;
  bottom: 120px;
  width: 10%;
  min-width: 130px;
}

.add-item-button:hover {
  color: $navy;
  opacity: 0.2;
  font-weight: 500;
  border: 2px solid $navy;
  transition: 0.25s ease-in;
}
.add-offer-button:hover {
  color: $navy;
  opacity: 0.2;
  font-weight: 500;
  border: 2px solid $navy;
  transition: 0.25s ease-in;
}

.modal-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: $font-family;
}

.Navbar_Items {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .sidebar-container {
    width: 22vw;
    .desktop-sidebar {
      width: 100%;
      min-width: 200px;
      max-width: none;
    }
    img {
      width: 18vw;
      height: auto;
      justify-content: center;
      margin: 0 auto;
      margin-top: 60px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar-container {
    position: fixed;
    height: 100vh;
    z-index: 800;
    overflow-y: hidden;
  }
  .Navbar__Link-toggle {
    display: block;
  }

  .Navbar_Items {
    background: $blue;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
  }

  .Navbar_Items i {
    z-index: 4000;
  }

  // .Navbar_Link {
  //   font-family: $font-family;
  //   color: white;
  //   font-size: 32px;
  //   text-transform: uppercase;
  //   font-weight: 400;
  //   margin-top: 20px;
  //   text-transform: uppercase;
  //   text-align: center;
  // }

  .Navbar_Items a {
    color: white;
    padding: 0px;
    font-family: $font-family;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    padding: 30px;
  }

  // .mobile-nav-section {
  //   height: 85vh;
  //   // margin-top: 30%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   display: flex;
  //   align-content: center;
  //   // position: fixed;
  // }

  .desktop-sidebar {
    display: none;
    position: fixed;
    overflow: hidden;
  }

  #main-nav {
    display: none;
    position: fixed;
    overflow: hidden;
  }

  // .mobile-modal-container {
  // margin: 0 auto;
  // display: flex;
  // position: absolute;
  // top: 20%;
  // bottom: 10px;
  // justify-content: center;
  // font-family: $font-family;

  //   .add-offer-button {
  //     font-family: $font-family;
  //     background: $blue;
  //     border: 2px solid white;
  //     padding: 8px 20px;
  //     border-radius: 20px;
  //     font-size: 12px;
  //     text-align: center;
  //     color: white;
  //     margin: 0 auto;
  //     position: absolute;
  //     margin: 0 auto;
  //     bottom: 13%;
  //     min-width: 130px;
  //   }
  //   .add-item-button {
  //     font-family: $font-family;
  //     background: $blue;
  //     border: 2px solid white;
  //     padding: 8px 20px;
  //     border-radius: 20px;
  //     font-size: 12px;
  //     text-align: center;
  //     color: white;
  //     margin: 0 auto;
  //     position: absolute;
  //     margin: 0 auto;
  //     bottom: 22%;
  //     min-width: 130px;
  //   }
  // }

  #modal-desktop {
    display: none;
  }
}
