@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.following-container {
  border: 1px $dark-gray solid;
  width: 88%;
  margin: 40px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .follow-container {
    // border-bottom: 1px $dark-gray solid;
    height: 100px;
    width: 90%;
    display: flex;
    align-content: center;
    margin: 10px auto;
    align-items: center;
    font-family: $font-family;
  }

  a {
    justify-content: space-around;
    align-content: center;
    border-bottom: 1px $dark-gray solid;
    color: $blue;
  }
  .follow-name {
    padding-left: 20px;
  }
}
