@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

* {
  box-sizing: border-box;
}

.offer-card-container {
  display: flex;
  flex-direction: row;
  font-family: $font-family;
  padding: 20px;
  justify-content: space-between;
  color: $dark-gray;
  margin: 0 auto;
  width: 100%;

  .text-and-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .offer-buttons button {
    justify-content: flex-end;
    background: #2acbdc;
    font-family: $font-family;
    width: 100px;
    justify-content: center;
    color: white;
    border-radius: 25px;
    border: none;
    box-shadow: none;
    margin: 3px;
    float: right;
    flex-direction: column;
    padding: 8px;
    text-align: center;
    align-items: center;
    align-content: flex-end;
    font-weight: 500;
  }
  span {
    font-weight: bold;
  }

  img {
    width: 12vw;
  }
}
