@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

.App {
  display: flex;
  background-color: $light-gray;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: $font-family;
}

.body-container {
  flex-direction: column;
  display: flex;
  background-color: $light-gray;
  height: 100%;
  margin: 0 auto;
  width: 72vw;
}

.landing-page {
  background-image: url('http://i65.tinypic.com/znkmmc.jpg');
  background-size: contain;
  height: 100vh;
  width: 100%;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;

  .landing-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-container img {
      position: absolute;
    }

    img {
      width: 46vw;
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 300px;
    }

    // .home-page-link {
    //   width: 200px;
    //   background: #2acbdc;
    //   color: white;
    //   text-align: center;
    //   padding: 3px 0px;
    //   border-radius: 25px;
    //   margin: 10px;
    // }
    // .home-page-link:hover {
    //   width: 200px;
    //   background: #2acbdc;
    //   color: white;
    //   text-align: center;
    //   padding: 3px 0px;
    //   border-radius: 25px;
    //   margin: 10px;
    // }

    .home-page-link-signin {
      color: rgba(255, 255, 255, 1);
      background: $blue;
      width: 200px;
      text-align: center;
      border-radius: 25px;
      padding-top: 8px;
      padding-bottom: 8px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      position: relative;
      font-size: 18px;
      font-weight: 400;
    }

    .home-page-link-signin ::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      font-size: 18px;
      font-weight: 400;
    }
    .home-page-link-signin:hover::before {
      opacity: 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      font-weight: 400;
      font-size: 18px;
    }
    .home-page-link-signin::after {
      content: 'SIGN IN';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: $light-gray;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 2px solid $blue;
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      color: $blue;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 400;
    }
    .home-page-link-signin:hover::after {
      opacity: 1;
      background: $light-gray;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      color: $blue;
      font-weight: 400;
      font-size: 18px;
    }

    .home-page-link {
      color: rgba(255, 255, 255, 1);
      background: $blue;
      width: 200px;
      text-align: center;
      border-radius: 25px;
      padding-top: 8px;
      padding-bottom: 8px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      position: relative;
      font-size: 18px;
      font-weight: 400;
    }

    .home-page-link ::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      font-size: 18px;
      font-weight: 400;
    }
    .home-page-link:hover::before {
      opacity: 0;
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      font-weight: 400;
      font-size: 18px;
    }
    .home-page-link::after {
      content: 'ABOUT';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: $light-gray;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 2px solid $blue;
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      color: $blue;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 400;
    }
    .home-page-link:hover::after {
      opacity: 1;
      background: $light-gray;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      color: $blue;
      font-weight: 400;
      font-size: 18px;
    }

    // .home-page-button {
    //   background: $blue;
    //   color: white;
    //   padding: 2px 20px;
    //   border-radius: 25px;
    //   width: 200px;
    // }

    // .button {
    //   display: flex;
    //   margin: 0 auto;
    //   text-align: center;
    //   padding: 10px 24px;
    //   margin-top: 20px;
    //   width: 10vw;
    //   border-radius: 5px;
    //   background-color: $blue;
    //   box-shadow: none;
    //   border: none;
    //   text-decoration: none;

    //   span {
    //     text-align: center;
    //     font-size: 18px;
    //     color: white;
    //     margin: 0 auto;
    //     font-family: $font-family;
    //   }
    // }

    // .button:hover {
    //   background: $light-gray;
    //   border: $blue solid 3px;

    //   span {
    //     color: $blue;
    //     margin: 0 auto;
    //     padding: 0px;
    //   }
    // }
  }
}

@media only screen and (max-width: 900px) {
  .landing-page {
    .landing-container {
      img {
        width: 80vw;
      }
      .button {
        margin-top: 10px;
        width: 30vw;
        border-radius: 5px;
        padding: 6px 14px;
        background-color: $blue;
        box-shadow: none;
        border: none;
        text-decoration: none;

        span {
          text-align: center;
          font-size: 18px;
          color: white;
          margin: 0 auto;
          font-family: $font-family;
        }
      }
    }
  }
}

@media only screen and (max-width: 786px) {
  .body-container {
    flex-direction: column;
    display: flex;
    background-color: $light-gray;
    height: 100%;
    margin: 0 auto;
    width: 90vw;
  }
}
