@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #707070;

.nav-container {
  height: 7vh;
  width: 93%;
  margin: 0 auto;
  border-bottom: 2px solid $dark-gray;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: space-between;

  .search-bar {
    width: 320px;
    height: 35px;
    margin: 0;
    margin-right: -3px;
    border: 2px solid $dark-gray;
  }

  input {
    border: none;
    width: 320px;
    height: 35px;
    margin: 0;
    background: none;
  }

  .input-text {
    font-family: $font-family;
    font-size: 16px;
    padding-left: 20px;
    color: $dark-gray;
  }

  .search-containter {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  button {
    font-size: 1.5em;
    background: $blue;
    height: 39px;
    margin-left: -3px;
    color: white;
    margin: 0;
    border: 2px solid $dark-gray;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: flex-end;

    li {
      list-style: none;
      color: $dark-gray;
      font-family: $font-family;
      flex-direction: row;
      padding-left: 30px;
    }
  }
}
