@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #858585;

.nav-container {
  height: 6vh;
  width: 72vw;
  border-bottom: 1px solid #858585;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-content: space-between;

  .search-bar-container {
    align-content: center;
    height: 80px;
    margin-top: 10px;
  }

  .downshift-dropdown {
    margin-top: 7px;
  }

  input {
    border: none;
    width: 220px;
    height: 35px;
    margin: 0;

    background: none;
  }

  .input-text {
    font-family: $font-family;
    font-size: 16px;
    padding-left: 20px;
    color: $dark-gray;
  }

  button {
    font-size: 1.5em;
    background: $blue;
    height: 37px;
    margin-left: -3px;
    color: white;
    margin: 0;
    border: 1px solid $dark-gray;
  }

  a {
    color: $dark-gray;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 400;
    margin-top: 22px;
    padding-left: 22px;
  }

  a:hover {
    font-family: $font-family;
    font-size: 12px;
    font-weight: 400;
    margin-top: 22px;
    color: $blue;
  }

  #textarea:focus {
    outline: none;
  }

  input::placeholder {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-container {
    width: 68vw;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container {
    height: 4vh;
    position: absolute;
    border-bottom: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 0px;
    // margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    right: 0;
    background: $blue;
    z-index: 450;
    color: white;
  }

  .search-bar-container {
    align-content: center;
    height: 80px;
    margin: 2px;
    color: white;
    font-size: 14px;
    margin-left: 14px;
  }

  .nav-container a {
    color: white;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 400;
    right: 0;
    padding-left: 0px;
    padding: 13px;
  }

  .nav-container a:hover {
    font-family: $font-family;
    font-size: 12px;
    font-weight: 400;
    color: $navy;
    opacity: 0.5;
  }

  input::placeholder {
    color: white;
  }
  .nav-container input {
    color: white;
  }
  .search-bar-container {
    .downshift-dropdown {
      margin-top: 0px;
      background: $blue;
      left: 0;
    }
  }
  .menu {
    margin-right: 20px;
  }
}
