@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$font-family: 'Montserrat', sans-serif;
$blue: #2acbdc;
$navy: #424c58;
$light-gray: #e5e5e5;
$dark-gray: #858585;

.nav-container {
  height: 6vh;
  width: 72vw;
  border-bottom: 1px solid #858585;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: -15px;
  margin-bottom: 10px;
  justify-content: space-between;

  .search-bar {
    width: 220px;
    height: 35px;
    margin: 0;
    margin-right: -3px;
    border: 1px solid $dark-gray;
  }

  input {
    border: none;
    width: 220px;
    height: 35px;
    margin: 0;
    background: none;
  }

  .input-text {
    font-family: $font-family;
    font-size: 16px;
    padding-left: 20px;
    color: $dark-gray;
  }

  .search-containter {
    display: flex;
    width: 220px;
    height: 35px;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  button {
    font-size: 1.5em;
    background: $blue;
    height: 37px;
    margin-left: -3px;
    color: white;
    margin: 0;
    border: 1px solid $dark-gray;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: flex-end;

    li {
      list-style: none;
      color: $dark-gray;
      font-family: $font-family;
      flex-direction: row;
      padding-left: 30px;
    }
  }

  a {
    color: $dark-gray;
    font-family: $font-family;
    font-size: 12px;
    font-weight: 300;
    margin-top: 22px;
    padding-left: 22px;
  }

  a:hover {
    font-family: $font-family;
    font-size: 12px;
    font-weight: 300;
    margin-top: 22px;
    color: $blue;
  }

  #textarea:focus {
    outline: none;
  }
}
